#resume{
    margin-left: 90px;
}

.footer-contact{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color:$secondary;
    text-decoration: underline;
}

.icon-tech{
   transition: all .3s ease;
   -webkit-transition: all .3s ease;
   -moz-transition: all .3s ease;
   -ms-transition: all .3s ease;
   -o-transition: all .3s ease;
   filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
}

.icon-tech:hover{
    filter: none;
    -webkit-filter: none;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

// Medium devices (tablets, 768px and up)
@media (max-width:991.2px) {
    #resume {
        margin-left: 0px;
    }
}